<h1><%= @line.name %></h1>

 <ul>
  <% @line.stations.each do |station| %>
    <li><%= link_to station.name, station_path(station) %></li>
  <% end %>
</ul>

<%= link_to "Edit", edit_line_path(@line), :class => "btn btn-default" %>
<%= link_to "Delete", line_path(@line),
                         :confirm => "Are you sure?",
                         :method => "delete",
                         :class => "btn btn-default" %>

<p><%= link_to "Return to Line Listing", lines_path, :class => "btn btn-default" %></p>
