<h1><%= @station.name %></h1>

<ul>
  <% @station.lines.each do |line| %>
    <li><%= link_to line.name, line_path(line) %></li>
  <% end %>
</ul>

<%= link_to "Edit", edit_station_path(@station), :class => "btn btn-default" %>
<%= link_to "Delete", station_path(@station),
                         :confirm => "Are you sure?",
                         :method => "delete",
                         :class => "btn btn-default" %>

<p><%= link_to "Return to Station Listing", stations_path, :class => "btn btn-default" %></p>
